/** Mobile first development **/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100vw;
  padding: 0;
  max-width: 1920px;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-purple);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.hero {
  position: relative;
}

.heroImage::after {
  content: " ";
  height: 100%;
  width: 100%;
  background-color: #9f6ef4d9;
  position: absolute;
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
}

.heading2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: var(--text-white-100);
}

.sectionWrapper {
  margin-top: 5rem;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
  .container {
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
  }

  .main {
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
  }
  .main {
  }
  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
